<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>This is a test!!!</h1>
    <form action="/" method = "post" enctype="multipart/form-data">
        <label for="pdf_file">Select PDF File</label>
        <input type="file" name="pdf_file" id="pdf_file" required>
        <br><br>
        <label for="keywords">Enter Keywords:</label>
        <input type="text" name="keywords" id="keywords">
        <br><br>
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <h2>Search Results:</h2>
        {% for page, entries in results.items() %}
            <h3>{{page}}</h3>
            <ul>
                {% for keyword, snippet in entries %}
                    <li><strong>{{keyword}}</strong>{{snippet}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
</body>
</html>